@font-face {
	font-family: "Mont Blanc-Trial";
	src: url(../fonts/MontBlank-Trial/MontBlanc-Trial-Bold.eot);
	src: url(../fonts/MontBlank-Trial/MontBlanc-Trial-Bold.eot?#iefix) format("embedded-opentype"),
		url(../fonts/MontBlank-Trial/MontBlanc-Trial-Bold.otf) format("otf"),
		url(../fonts/MontBlank-Trial/MontBlanc-Trial-Bold.svg#MontBlanc-Trial-Bold) format("svg"),
		url(../fonts/MontBlank-Trial/MontBlanc-Trial-Bold.ttf) format("truetype"),
		url(../fonts/MontBlank-Trial/MontBlanc-Trial-Bold.woff) format("woff"),
		url(../fonts/MontBlank-Trial/MontBlanc-Trial-Bold.woff2) format("woff2");
	font-style: normal;
	font-weight: 700;
}