.modal-header {
	@extend %modal;

	&__body {
		@extend %modal-body;
		padding: 60px 40px;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		font-size: 40px;
		font-weight: 700;
	}

	&__search {
		@extend %search;
		margin-top: 40px;
	}
}