//? Модальной окно, прямой родитель container
%modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-modal;
	width: 100%;
	height: 100%;
	background: rgba($color: #262626, $alpha: 0.8);
	overflow-y: auto;
	overflow-x: hidden;
	transition: 0.2s;
	line-height: 1.2;

	visibility: hidden;
	opacity: 0;

	&.open {
		opacity: 1;
		visibility: visible;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100%;
	}

	@include sm-d {
		background: white;
		z-index: $z-modal-mobile;

		opacity: 1;
		transform: translateX(-100%);

		&.open {
			transform: none;
		}

		.container {
			justify-content: start;
			align-items: stretch;
		}
	}
}

//? Тело модалки, прямой потомок container
%modal-body {
	background: white;
	border-radius: 10px;
	flex: 1 1 auto;

	@include sm-d {
		max-width: none !important;
		padding: 20px 0 !important;
	}
}

//? Обертка, внутри которой инпут и кнопка
%search {
	border-radius: 10px;
	border: 1px solid $grey2;
	overflow: hidden;
	display: flex;

	input {
		padding: 0 20px;
		font-size: 14px;
		flex: 1 1 auto;
		font-weight: 500;

		&::placeholder {
			color: gray;
		}

	}

	button,
	a {
		background: $primary;
		flex: 0 0 60px;
		min-height: 60px;
		min-width: 60px;
		transition: 0.2s;

		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			* {
				stroke: $white;
			}
		}
	}

	&:hover {
		border: 1px solid $primary-hover;

		button,
		a {
			background: $primary-hover;
		}
	}

	&:focus-within {
		border: 1px solid $primary;

		button,
		a {
			background: $primary;
		}
	}

}

//? Просто инпут
%input {
	height: 45px;
	border-radius: 10px;
	border: 1px solid $grey2;
	padding: 0 18px;
	font-size: 14px;
	color: $black;
	transition: 0.2s;

	&::placeholder {
		color: $grey2;
	}

	&:hover {
		border: 1px solid $primary;
	}

	&:focus {
		border: 1px solid $black;
	}

	&:disabled {
		color: $grey;
		border: 1px solid $grey;
	}

	&::placeholder {
		color: $grey2;
	}

	&:not(:placeholder-shown) {
		border: 1px solid $black;
	}
}

//? Обертка, внутри которой инпут
%datepicker {
	position: relative;

	&::after {
		content: "";
		pointer-events: none;
		position: absolute;
		right: 18px;
		top: 50%;
		transform: translateY(-50%);
		width: 24px;
		height: 25px;
		background-position: 50%;
		transition: 0.2s;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V6C21 4.89543 20.1046 4 19 4Z' stroke='%23878787' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 2V6' stroke='%23878787' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 2V6' stroke='%23878787' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 10H21' stroke='%23878787' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
	}

	&:hover {
		&::after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V6C21 4.89543 20.1046 4 19 4Z' stroke='%23116565' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 2V6' stroke='%23116565' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 2V6' stroke='%23116565' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 10H21' stroke='%23116565' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
		}
	}

	&:focus-within {
		&::after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V6C21 4.89543 20.1046 4 19 4Z' stroke='%23262626' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 2V6' stroke='%23262626' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 2V6' stroke='%23262626' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 10H21' stroke='%23262626' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
		}
	}

	&.filled {
		&::after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V6C21 4.89543 20.1046 4 19 4Z' stroke='%23262626' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 2V6' stroke='%23262626' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 2V6' stroke='%23262626' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 10H21' stroke='%23262626' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
		}
	}

	input {
		cursor: pointer;
		width: 100%;
		font-size: 14px;
		height: 52px;
		padding: 0 52px 0 18px;
		border-radius: 10px;
		border: 1px solid $grey2;
		transition: 0.2s;

		box-shadow: none !important;
		color: $black;

		&::placeholder {
			color: $grey2;
		}

		&:hover {
			border: 1px solid $primary;
		}

		&:focus {
			border: 1px solid $black;
			border-radius: 10px 10px 0 0;
		}

		&:not(:placeholder-shown) {
			border: 1px solid $black;
		}
	}

	.datepicker-input.in-edit {
		&:focus {
			box-shadow: none;
		}
	}

	.datepicker-input.in-edit {
		border: 1px solid $black;
	}
}

%primary-button {
	height: 53px;
	padding: 0 32px;

	background: $primary;
	border-radius: 10px;
	color: white;
	font-size: 14px;
	transition: 0.2s;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;

	path {
		stroke: $white;
	}

	&:visited {
		color: white;
	}

	&:hover {
		background: $primary-hover;
	}

	&:disabled {
		background: $grey;
		color: $grey2;

		path {
			stroke: $grey2;
		}
	}
}

%secondary-button {
	height: 53px;
	padding: 0 32px;

	background: white;
	border-radius: 10px;
	border: 1px solid $primary;
	color: $primary;
	font-size: 14px;
	transition: 0.2s;

	display: flex;
	align-items: center;
	justify-content: center;

	&:visited {
		color: $primary;
	}

	&:hover {
		color: $primary-hover;
		border: 1px solid $primary-hover;

		path {
			stroke: $primary-hover;
		}
	}


	&:disabled {
		color: $grey2;
		border: 1px solid $grey2;

		path {
			stroke: $grey2;
		}
	}
}

%white-button {
	background: white;
	border-radius: 10px;
	padding: 0 32px;
	height: 50px;
	color: $black;
	font-size: 14px;

	display: flex;
	align-items: center;
	justify-content: center;

	&:visited {
		color: $black;
	}
}

//? Обертка label, внутри обязательно input, за которым следует span
%checkbox {

	span {
		border: 1px solid #B9C2CB;
		border-radius: 0;
		cursor: pointer;
		display: block;

		width: 24px;
		height: 24px;

		transition: 0.2s;
		background: 50% no-repeat;

	}

	&:hover {
		span {
			border: 1px solid $primary;
		}
	}

	input {
		position: absolute;
		z-index: -9999;
		opacity: 0;
		visibility: hidden;
		width: 0;
		height: 0;
	}

	input:checked~span {
		border: 1px solid $primary;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='12' viewBox='0 0 16 12' fill='none'%3E%3Cpath d='M1.93945 5.58425L6.44676 10.0916L14.6675 1.87085' stroke='%23116565' stroke-width='1.5' stroke-linecap='square'/%3E%3C/svg%3E");
	}
}

%h1 {
	font-size: 60px;
	font-weight: 800;
	line-height: 1;

	margin-bottom: 60px;
	margin-top: 32px;

	@media (max-width: 1500px) {
		font-weight: 700;
		font-size: 40px;

		margin-bottom: 40px;
	}

	@include lg-d {
		margin-bottom: 20px;
	}

	@include md-d {
		margin-top: 24px;
	}

	@media (max-width: 600px) {
		font-weight: 700;
		line-height: 1.2;
		font-size: 28px;

		margin-bottom: 16px;
	}
}

%h2 {
	font-size: 40px;
	font-weight: 700;

	@media (max-width: 1500px) {
		font-size: 32px;
	}

	@media (max-width: 600px) {
		font-size: 20px;
	}
}

%container {
	max-width: 1920px;
	padding: 0 80px;
	margin: auto;

	@include lg-d {
		padding: 0 60px;
	}

	@include md-d {
		padding: 0 30px;
	}

	@media (max-width: 600px) {
		padding: 0 16px;
	}
}

%section-padding {
	padding: 60px 0;


	@media (max-width: 1600px) {
		padding: 40px 0;
	}

	@include md-d {
		padding: 20px 0;
	}

	@media (max-width: 600px) {
		padding: 16px 0;
	}
}

%list-item {
	padding-left: 18px;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 6px;
		left: 0;
		width: 10px;
		height: 10px;
		background: $primary;
	}

	@media (max-width: 1500px) {
		&::before {
			top: 4px;
		}
	}
}

%viewer {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	background-blend-mode: darken;

	.play-button {
		cursor: pointer;
	}

	iframe {
		width: 100%;
		height: 100%;
	}
}

%swiper-pagination {
	width: auto;
	height: auto;

	display: none;
	justify-content: center;
	gap: 8px;

	.swiper-pagination-bullet {
		width: 8px;
		height: 8px;
		margin: 0;
		border-radius: 1px;
		background: $grey;
		opacity: 1;
	}

	.swiper-pagination-bullet-active {
		background: $primary;
		width: 24px;
		height: 8px;
		margin: 0;
		border-radius: 1px;
		opacity: 1;
	}

	@media (max-width: 600px) {
		display: flex;
	}
}

%bonus-action {
	padding: 4px 8px;
	border-radius: 6px;
	white-space: nowrap;

	color: #B71C1C;
	background: #FFCDD2;

	font-size: 14px;
}

%bonus-daily {
	padding: 4px 8px;
	border-radius: 6px;
	white-space: nowrap;

	color: #E65100;
	background: #FFF3E0;

	font-size: 14px;
}

%bonus-new {
	padding: 4px 8px;
	border-radius: 6px;
	white-space: nowrap;

	color: $primary;
	background: #CFE0E0;

	font-size: 14px;
}