@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "nullstyle";
@import "fonts";
@import "vars";
@import "breakpoints";

@import "templates";

@import "components/buttons";
@import "components/fonts";
@import "components/product";
@import "header";
@import "footer";

@import "modals";
@import "pages/main";

html {
	scroll-behavior: smooth;
}

body {
	scroll-behavior: smooth;
	position: relative;
	font-family: Manrope;
	overflow-x: hidden;
	line-height: 1.2;
	color: $black;
}

svg {
	transition: 0.2s;

	* {
		transition: 0.2s;
	}
}

body.lock {
	overflow: hidden;
}

.container {
	max-width: 1920px;
	padding: 0 80px;
	margin: auto;

	@include lg-d {
		padding: 0 60px;
	}

	@include md-d {
		padding: 0 30px;
	}

	@media (max-width: 600px) {
		padding: 0 16px;
	}
}

swiper-container {
	&::part(pagination) {
		width: auto;
		height: auto;

		display: flex;
		gap: 8px;
	}

	&::part(bullet) {
		width: 8px;
		height: 8px;
		margin: 0;
		border-radius: 1px;
		background: $grey;
		opacity: 1;
	}

	&::part(bullet-active) {
		background: $primary;
		width: 24px;
		height: 8px;
		margin: 0;
		border-radius: 1px;
		opacity: 1;
	}
}

.pagination {
	width: auto;
	height: auto;

	display: flex;
	gap: 8px;
	position: absolute;

	.swiper-pagination-bullet {
		width: 8px;
		height: 8px;
		margin: 0;
		border-radius: 1px;
		background: $grey;
		opacity: 1;
	}

	.swiper-pagination-bullet-active {
		background: $primary;
		width: 24px;
		height: 8px;
		margin: 0;
		border-radius: 1px;
		opacity: 1;
	}
}

.navigation {
	display: flex;
	border-radius: 10px;
	overflow: hidden;

	&__prev,
	&__next {
		width: 60px;
		height: 60px;
		flex: 0 0 60px;
		transition: 0.2s;

		background: $primary;

		&:hover {
			background: $primary-hover;
		}

		path {
			stroke: $white;
		}

		&:disabled {
			background: $grey;
		}
	}
}