.breadcrumbs {
	padding-top: 60px;

	&__link {
		font-size: 14px;
		color: $black;
		transition: 0.2s;
		position: relative;
		padding-bottom: 2px;

		line-height: 2;

		&:hover {
			color: $primary;
		}

		&.current {
			color: $primary-hover;
			border-bottom: 1px solid $primary-hover;
		}

		&.disabled {
			color: $grey2;
			pointer-events: none;
		}
	}

	@media (max-width: 1500px) {
		padding-top: 40px;
	}

	@include lg-d {
		padding-top: 20px;
	}

	@media (max-width: 470px) {
		padding-top: 16px;

		&__link {
			font-size: 12px;
		}
	}
}