.h1 {
	font-size: 60px;
	font-weight: 800;
}

.h2 {}

.h3 {}

.lead {
	font-size: 24px;
	font-weight: 700;
}

.t-big {
	font-size: 18px;
}

.t-big-b {
	font-size: 18px;
	font-weight: 700;
}

.t-normal {
	font-size: 16px;
}

.t-normal-b {
	font-size: 16px;
	font-weight: 700;
}

.t-small {
	font-size: 12px;
}

.t-small-b {
	font-size: 12px;
	font-weight: 700;
}